lm-account-papi/src/main/mule/accounts-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<flow name="accounts-papi-main">
        <http:listener config-ref="accounts-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="accounts-papi-config" />
		<error-handler ref="comman-global-error-handlerError_Handler" />
    </flow>
    <flow name="accounts-papi-console">
        <http:listener config-ref="accounts-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="accounts-papi-config" />
		<error-handler ref="comman-global-error-handlerError_Handler" />
    </flow>
    <flow name="put:\accounts\(account_id):application\json:accounts-papi-config">
		<flow-ref doc:name="Flow Reference" doc:id="263760bd-a8f4-48cb-a028-7c23637a2d73" name="lmp-put-account-papiFlow"/>
		<error-handler ref="comman-global-error-handlerError_Handler" />
    </flow>
    <flow name="post:\accounts:application\json:accounts-papi-config">
		<flow-ref doc:name="Flow Reference" doc:id="917f0513-93eb-43d2-bc7c-ab6b587705fd" name="lmp-post-acount-papiFlow"/>
		<error-handler ref="comman-global-error-handlerError_Handler" />
    </flow>
</mule>
