lm-first-country-lookup-sapi/src/main/mule/lm-get-countries.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="lm-get-countriesFlow" doc:id="e7b31317-7bc6-4874-a1e8-3c57d742587f" >
		<logger level="INFO" doc:name="Flow Start" doc:id="c78cec5d-f057-4b57-8c0f-c77e60f25ac9" message="create flow start" />
		<http:request method="GET" doc:name="Request for country-lookup-api" doc:id="f0625435-97c9-49bd-abc8-070275082f41" sendCorrelationId="ALWAYS" config-ref="HTTP_Request_configuration" path="/${address-lookup-api.getRequest.path}" />
		<logger level="INFO" doc:name="Log Countries response payload" doc:id="d002d52a-4706-446a-993d-ce570982aa69" message="payload" />
		<ee:transform doc:name="Map Country_ISO code" doc:id="ec912dda-8a55-445b-992b-8b5f5f2ebd2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data pluck ((value, key, index) -> {  
    country: value.country,
    region: value.region,
    iso: key
}) ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Flow" doc:id="1dac19cb-8d5f-4d63-b3db-21bcd7576400" message="End Flow" />
		<error-handler ref="comman-global-error-handlerError_Handler" />
	</flow>
	<flow name="lm-get-countries-iso_code-Flow" doc:id="3f458943-c1bd-43dc-b183-ed9782c53022" >
		<logger level="INFO" doc:name="Flow Start" doc:id="393fa171-5fe3-4ef2-bd29-692d0289dfd1" message="create flow start" />
		<ee:transform doc:name="Set Variable" doc:id="76b866c7-0a75-49c9-9cbb-73577f6dd4ee" >
			<ee:variables >
				<ee:set-variable variableName="iso_code" ><![CDATA[attributes.uriParams.'iso_code']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="2f92331b-8d2d-477b-a307-27937006455f" >
			<until-successful maxRetries="5" doc:name="Until Successful" doc:id="fde6abda-d935-4f57-b58c-4890196aa7f2">
			<http:request method="GET" doc:name="Request for county-lookup-api" doc:id="efbf630e-f9d0-4f70-973f-01c9a44e0284" config-ref="HTTP_Request_configuration" path="/${address-lookup-api.getRequest.path}">
			<http:headers><![CDATA[#[output application/java
---
{
"client_id":"cde44961cb594e168e845570df3e0c18",
"client_secret":"5523245890D84094A243f613108D232C",
"correlationId":"421cb368-066b-11e1-9647-c5be7398b24e"
}]]]></http:headers>
		</http:request>
		</until-successful>
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4352c021-df81-4dc1-b51b-959210ce045f" type="ANY">
					<flow-ref doc:name="Flow Reference" doc:id="e7e30101-373d-47f5-a155-dcd61fb809af" name="global_error_handlerSub_Flow"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Log Countries response payload" doc:id="6badf006-a2ba-42ec-9ae9-d24c2c095751" message="payload" />
		<ee:transform doc:name="Map Country_ISO code" doc:id="77894d55-98b7-4ee2-95ff-c0b10fb03e43" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="mapping_data" ><![CDATA[%dw 2.0
output application/json
---
payload.data pluck ((value, key, index) -> {  
    country: value.country,
    region: value.region,
    iso: key
}) ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Countries responses" doc:id="3843b19f-b0bd-4162-8f2d-4d5e8901d85d" message="#[vars.mapping_data]" />
		<ee:transform doc:name="FIlter Country_ISO code" doc:id="e2fa1f48-d9f3-4813-9c2c-fc5a396ffad0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.mapping_data filter ((item, index) ->item.iso== vars.iso_code) reduce ((item, accumulator) ->item )]]></ee:set-payload>
			</ee:message>
			<ee:variables />
		</ee:transform>
		<logger level="INFO" doc:name="End Flow" doc:id="39f1e7fb-28c1-4058-92b6-4a2804b56efa" message="End Flow" />
		<error-handler ref="comman-global-error-handlerError_Handler" />
	</flow>
</mule>
